#section{
    margin-top: 200px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#section h2{
    margin-left: 100px;
    margin-top: -300px;
}

#profilePic{
    width: 50%;
    height: 300px;
    margin-left: -450px;
}

#profilePic img{
    width: 180px;
    height: 180px;
    margin: 80px 40px 0 60px;
}

#section button{
    position: absolute;
    width: 120px;
    height: 42px;
    border-radius: 20px;
    font-size: 16px;
}

#upload{
    position: absolute;
    margin-top: 320px;
    margin-left: -220px;
}

#profilePic p{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 13px;
    color: red;
}

#edit{
    position: absolute;
    margin: -190px 0 0 300px;
    background-color: rgb(27, 146, 167);
    color: #fff;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#edit:hover{
    background-color: #fff;
    color: rgb(27, 146, 167);
    border: 1px solid rgb(27, 146, 167);
    transition-duration: 0.4s;
}

#remove{
    margin: -120px 0 0 300px;
    background-color: rgb(209, 14, 14);
    color: #fff;
    transition-duration: 0.4s;
}

#remove:hover{
    background-color: #fff;
    color: rgb(209, 14, 14);
    border: 1px solid rgb(209, 14, 14);
    transition-duration: 0.4s;
}

#form{
    margin-top: 100px;
}

#inputField{
    width: 50%;
    margin-left: 8%;
    margin-top: 0;
}

span{
    font-size: 22px;
}

#inputField input{
    width: 70%;
    height: 40px;
    margin-top: 30px;
    padding: 15px;
    font-size: 17px;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 1px solid #222;
}

#inputField input:hover{
    border: 2px solid rgb(27, 17, 122);
}

#inputField input:focus{
    border: 2px solid rgb(27, 17, 122);
}

#save{
    margin: 100px 0 0 -380px;
    background-color: rgb(27, 146, 167);
    color: #fff;
    transition-duration: 0.4s;
}

#save:hover{
    background-color: #fff;
    color: rgb(27, 146, 167);
    border: 1px solid rgb(27, 146, 167);
    transition-duration: 0.4s;
}

#delete{
    margin: 100px 0 0 -220px;
    background-color: rgb(209, 14, 14);
    color: #fff;
    transition-duration: 0.4s;
}

#delete:hover{
    background-color: #fff;
    color: rgb(209, 14, 14);
    border: 1px solid rgb(209, 14, 14);
    transition-duration: 0.4s;
}

#vmanage{
    position: absolute;
    width: 40%;
    margin-top: -620px;
    margin-left: 58%;
}

#vmanage button{
    width: 400px;
    height: 150px;
    background-position: center;
    font-size: 45px;
    color: #fff;
    border-radius: 20px;
    transition-duration: 0.4s;
}

#vmanage button:hover{
    opacity: 0.8;
    transition-duration: 0.4s;
}

#ad{
    background-image:linear-gradient(#2222227a, #222222c8), url(image/ad.jpg);
}

#pw{
    margin-top: 220px;
    font-size: 20px;
    background-image:linear-gradient(#22222258, #2222228b), url(image/cpw.jpeg);
}

#myAd{
    margin-top: 440px;
    background-image:linear-gradient(#2222228f, #222222b7), url(image/mAd.jpg);
}